.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.btn {
  border-radius: 6px;
  background: var(--main-green-color);
  padding: 10px 30px;
  border: none;
  color: var(--light-color);
  &:hover {
    opacity: 0.9;
  }

  a {
    color: var(--light-color);
  }
}

.card {
  border-radius: 6px;
  background: #FBFBFB;
  display: grid;
  place-content: center;
  padding: 15px;
  position: relative;
  transition: .2s;

  img {
    width: 258px;
    height: 300px;
    padding-bottom: 20px;
  }

  .hover-look {
    display: none;
    transition: ease-in-out 2s;
  }

  button {
    border: none;
    background-color: transparent;
    padding: 5px 10px;

    svg {
      font-size: 18px;
    }
  }

  h5 {
    color: #3d3d3d;
    line-height: 16px;
  }

  .price {
    margin-top: 6px;
    color: #46a358;
  }
}

.card:hover {
  box-shadow: 1px 1px 8px #76ce87;
  .hover-look {
  position: absolute;
  bottom: 45px;
  right: 83px;
  width: 125px;
  height: 35px;
  justify-content: space-evenly;
  display: block;
  display: flex;
  transition: ease-in-out 1s;

  span {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
}